ui            = true
cluster_addr  = "http://{{ hostvars[item].ansible_facts.tailscale0.ipv4.address }}:8201"
api_addr      = "http://{{ hostvars[item].ansible_facts.tailscale0.ipv4.address }}:8200"
disable_mlock = true

storage "consul" {
  address = "{{ hostvars[item].ansible_facts.tailscale0.ipv4.address }}:8500"
  path    = "vault/"
  service_tags = "traefik.enable=true,traefik.http.routers.vault-internal.entrypoints=https,traefik.http.routers.vault-internal.rule=Host(`vault.dingous.net`),traefik.http.routers.vault-internal.tls.certResolver=cloudflare,traefik.http.routers.vault.middlewares=authelia@file"
}

listener "tcp" {
  address     = "{{ hostvars[item].ansible_facts.tailscale0.ipv4.address }}:8200"
  tls_disable = true
}
