---

- name: Install a docker pre-reqs
  apt:
    pkg:
    - ca-certificates 
    - curl
    - gnupg
    - lsb-release

- name: Make sure "/etc/apt/keyrings" exists
  file:
    path: /etc/apt/keyrings
    state: directory

- name: Check if docker gpg key exists
  stat:
    path: /etc/apt/keyrings/docker.gpg
  register: gpg_key

- name: Add Docker official GPG key
  shell: curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
  when: gpg_key.stat.exists == False

- name: Check if docker sources file exists
  stat:
    path: /etc/apt/sources.list.d/docker.list
  register: sources_file

- name: Add Docker Apt Repo
  shell: echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/{{ ansible_os_family | lower }} $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
  when: sources_file.stat.exists == False

- name: Install a docker-ce
  apt:
    update_cache: yes
    pkg:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-compose-plugin
  notify: Start docker on boot

- name: Configure sane defaults for logging (docker daemon)
  template:
    src: "daemon.json"
    dest: "/etc/docker/daemon.json"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: Restart Docker

- name: Install Docker-compose
  shell: sudo curl -L "https://github.com/docker/compose/releases/download/1.29.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
  when: not is_pi 
  tags: docker_compose

- name: Install Docker-compose
  shell: sudo curl -L "https://github.com/docker/compose-cli/releases/download/v2.0.0-beta.3/docker-compose-linux-armv7" -o /usr/local/bin/docker-compose
  when: is_pi 
  tags: docker_compose

- name: Changing perm of /usr/local/bin/docker-compose
  file: dest=/usr/local/bin/docker-compose mode=a+x
  tags: docker_compose