---

- name: Make sure "/mnt/backup/" exists
  file:
    path: /mnt/backup
    state: directory

- name: Configuring "/mnt/backup/" in /etc/fstab
  become: True
  ansible.builtin.lineinfile:
    path: /etc/fstab
    line: 100.91.185.3:/volume1/NetBackup /mnt/backup nfs noauto,x-systemd.automount,x-systemd.mount-timeout=30,_netdev,rw,async,hard,intr,noexec
    create: yes

- name: Make sure "/mnt/shared-nfs/" exists
  file:
    path: /mnt/shared-nfs
    state: directory

- name: Configuring "/mnt/shared-nfs/" in /etc/fstab
  become: True
  ignore_errors: True
  ansible.builtin.lineinfile:
    path: /etc/fstab
    line: 100.91.185.3:/volume1/shared-nfs /mnt/shared-nfs nfs noauto,x-systemd.automount,x-systemd.mount-timeout=30,_netdev,rw,async,hard,intr
    create: yes

- name: mount all
  command: "{{ item }}"
  with_items:
    - "mount -a"