---

- gather_facts:
  tags:
    - always

# - name: Debug Ansible Facts
#   debug: var=ansible_facts

- import_tasks: apt.yml
  tags:
    - apt

- import_tasks: hostname.yml
  tags:
    - hostname

- import_tasks: locale.yml
  tags:
    - locale

# - import_tasks: resolv.yml
#   tags:
#     - resolv

- import_tasks: hosts.yml
  tags:
    - hosts

- import_tasks: ssh.yml
  tags:
    - ssh

- import_tasks: timezone.yml
  tags:
    - timezone

- import_tasks: timesync.yml
  tags:
    - timesync

- import_tasks: banner.yml
  tags:
    - banner

- import_tasks: users.yml
  tags:
    - user

- import_tasks: docker.yml
  tags:
    - docker

- import_tasks: fstab.yml
  tags:
    - fstab

- import_tasks: monitoring.yml
  tags:
    - monitoring

- import_tasks: cni.yml
  tags:
    - cni

- import_tasks: cockpit.yml
  tags:
    - cockpit

# - import_tasks: bind9.yml
#   tags:
#     - bind9

- import_tasks: apparmor.yml
  tags:
    - apparmor