---

- import_tasks: apt.yml
  tags:
    - apt
    - base

- import_tasks: apt-dist.yml
  tags:
    - proxmox

- import_tasks: hostname.yml
  tags:
    - hostname
    - base

- import_tasks: locale.yml
  tags:
    - locale
    - base

- import_tasks: hosts.yml
  tags:
    - hosts

- import_tasks: ssh.yml
  tags:
    - ssh

- import_tasks: timezone.yml
  tags:
    - timezone
    - base

- import_tasks: timesync.yml
  tags:
    - timesync
    - base
    - proxmox

- import_tasks: banner.yml
  tags:
    - banner
    - base
    - proxmox

- import_tasks: users.yml
  tags:
    - user

- import_tasks: docker.yml
  tags:
    - docker

- import_tasks: fstab.yml
  tags:
    - fstab
    - base

- import_tasks: cni.yml
  tags:
    - cni
    -
- import_tasks: apparmor.yml
  tags:
    - apparmor
    - base