---

- hosts: all
  become: yes
  roles:
    - tailscale_setup
  vars_files:
    - vault.yml
  tags:
    - setup
    - tailscale

- hosts: server:client
  become: yes
  roles:
    - linux_setup
  vars_files:
    - vault.yml
  tags:
    - setup

- hosts: server:client
  roles:
    - role: oh_my_zsh_setup
      users:
        - username: "{{ ansible_user }}"
        - username: root
  vars_files:
    - vault.yml
  tags:
    - setup

- hosts: etcd
  vars:
    etcd_secure: false
    etcd_iface_public: tailscale
  vars_files:
    - vault.yml
  roles:
    - etcd_cluster
  tags:
    - etcd

- hosts: server:client
  roles:
    - bootstrap_hashiup
  vars_files:
    - vault.yml
  tags:
    - hashiup

- hosts: localhost
  roles:
    - consul_cluster
  vars_files:
    - vault.yml
  tags:
    - consul

- hosts: server:client
  roles:
    - vault_cluster
  vars_files:
    - vault.yml
  tags:
    - vault

- hosts: localhost
  roles:
    - nomad_cluster
  vars_files:
    - vault.yml
  tags:
    - nomad

- hosts: server:client
  roles:
    - ssh_key_setup
  vars_files:
    - vault.yml
  tags:
    - ssh_keys